/* General reset and styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: blue;
}

header {
    background-color: #1b262c;
    /* Dark background*/
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.container {
    /* display: block; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
    /* logo size*/
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #BBE1FA;
    /* Highlight color */
}

/* ham menu begins */

.hamMenu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    margin-right: 30px;
    position: relative;
    display: none !important;
    z-index: 999;
    display: flex;

}
.hamMenu span {
    height: 5px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamMenu span:nth-child(1) {
    top: 25%;
}

.hamMenu span:nth-child(3) {
    top: 75%;
}

.hamMenu.active span {
    background-color: rgb(255, 255, 255);
}

.hamMenu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamMenu.active span:nth-child(2) {
    opacity: 0;
}

.hamMenu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.offScreenMenu {
    background-color: #0a111ae3;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    transition: .3s ease;
    z-index: 999;
}

.offScreenMenu.active {
    right: 0;
    z-index: 666;
}

.offScreenMenu a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.offScreenMenu a:hover {
    color: #BBE1FA;
}

.menu-list {
    list-style: none;
}

/* ham menu ends */

/* footer begins */

footer {
    background-color: rgb(27, 38, 44);
    padding: 30px;
    color: white;

}

.socials a {
    margin: 30px;

}

.socials {
    display: flex;
    justify-content: center;
}

.socials a :hover {
    transform: scale(1.05);

}

.bottom-links a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(170, 187, 201);
}

.bottom-links a:hover {
    text-decoration: underline;
}

.bottom-links {
    display: flex;
    justify-content: center;
}

.copy {
    display: flex;
    justify-content: center;
    margin: 60px 20px 0px 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(215, 215, 228, 0.096);
    color: rgba(164, 176, 187, 0.534);
}

/* footer ends */

/* Media Queries for Responsiveness */

@media (min-width: 1280px) {
    .hamMenu {
        display: none !important;
    }
    .offScreenMenu.active{
        display: none;
    }

}

@media (max-width: 992px) {

  

}


@media (max-width: 768px) {

    nav .nav-links {
        display: none;
    }

    .hamMenu {
        display: block !important;
    }

    .logo img {
        margin-right: 20px;
    }
}

@media (max-width: 550px) {


    footer {
        padding: 20px;
    }

    .socials a {
        margin: 10px;
        max-width: 308px;
    }

    .bottom-links a {
        margin: 5px;
    }

    .copy {
        margin: 10px 0;
    }


    nav .nav-links {
        display: none;
    }

    .hamMenu {
        display: block !important;
       
        float: right;
    }

    .container {
        float: left;
        padding:0px;
    }

   span{
    
   }
}