footer{
    background-color:  #1B262C;
    margin-top: 35%;
    padding: 2%;
}
body{
   /* display: flex;
   justify-content: center; */
   /* padding: 0;
   margin: 0;
   text-align: center; */
   /* align-items: center; */
   margin: 0;
   padding: 0;

}
.profilePic{
    padding: 1% 0;
    /* justify-content: space-evenly; */
    margin: 5% 21%;
}

.profileInfo{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}
.profileHeader{
    display: flex;
    justify-content: center;
}
.info{
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: start; */
    
}
/* 
main{
    padding-bottom: 100%;
} */
.font{
    font-size: 35px;
    /* align-items: flex-start; */
}

.maxxEnergy-profile-font {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px; /* Adjust size as needed */
    font-weight: 400; /* Normal weight */
    color: #333333; /* Standard text color */
    line-height: 1.5; /* Line spacing */
}

.stuff{
    display: flex;
    align-items: start;
    justify-content: center;
/*  */
}
.tom{
    display: flex;
    flex-direction: column;
}
.box{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30%;
    padding-bottom: 30%;
}
.paragraph{
     display: flex;
     flex-direction: row; 
     /* margin-left: 1%; */
}

.innerParagraph{
    margin-left: 10%;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
}
